# Virtual environment
myenv/
venv/
env/
.env
# Compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution and packaging
*.egg
*.egg-info/
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.swp
*.suo
*.log
.DS_Store
